body,
html {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.video-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Vídeo de Fundo (Desfocado) */
.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Garante que preencha tudo */
    filter: blur(20px) brightness(0.6);
    /* O segredo do efeito */
    transform: scale(1.1);
    /* Aumenta levemente para não aparecer bordas brancas do blur */
    z-index: 1;
}

/* Vídeo Principal (Centralizado) */
.video-main {
    position: relative;
    z-index: 2;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.title {
    top: 20%;
    margin: 0;
    width: 90%;
    z-index: 3;
    color: #FFF;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    position: absolute;
    letter-spacing: 3px;
    font-family: 'Cinzel', serif;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.message {
    top: 50%;
    margin: 0;
    width: 90%;
    z-index: 3;
    color: #FFF;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    position: absolute;
    letter-spacing: 3px;
    font-family: 'Cinzel', serif;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.share {
    z-index: 3;
    width: 90%;
    bottom: 5px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    background-color: #25D366;
    font-family: Arial, sans-serif;
    transition: background 0.3s ease;
}

.share:hover {
    background-color: #128C7E;
}